version: '3.8'

services:
  local-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    ports:
      - "8080:8080"
    env_file:
      - local.env
    environment:
      SPRING_PROFILES_ACTIVE: "local"
    restart: unless-stopped