spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false

  datasource:
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

springdoc:
  swagger-ui:
    path: /api-test
    groups-order: desc
    tags-sorter: alpha
    operations-sorter: method
  paths-to-match:
    - /api/**

jwt:
  auth:
    access:
      secret-key: ${JWT_ACCESS_KEY}
      time-to-live: ${JWT_ACCESS_EXPIRATION}
    refresh:
      secret-key: ${JWT_REFRESH_KEY}
      time-to-live: ${JWT_REFRESH_EXPIRATION}