spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
  datasource:
    url: ${LOCAL_DB_URL}
    driver-class-name: ${LOCAL_DB_DRIVER}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
  h2:
    console:
      enabled: false
  flyway:
    enabled: true
    locations:
      - classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
    clean-disabled: false  # (Caution!) Progress in Dev Environment

springdoc:
  swagger-ui:
    path: /api-test
    groups-order: desc
    tags-sorter: alpha
    operations-sorter: method
  paths-to-match:
    - /api/**

jwt:
  auth:
    access:
      secret-key: ${JWT_ACCESS_KEY}
      time-to-live: ${JWT_ACCESS_EXPIRATION}
    refresh:
      secret-key: ${JWT_REFRESH_KEY}
      time-to-live: ${JWT_REFRESH_EXPIRATION}
